.movies{
    padding: 50px 0 150px 0;

}

.movies h2{
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
    justify-content: center;
}

.swiper{
    width: 100%;
}

.swiper-slide{
    background-position: center;
    background-size: cover;
    width: 250px;
}

.swiper-slide img{
    display: block;
    width: 60%;
}

.icons{
    padding: 0 350px 50px 350px;
    display: flex;
    justify-content: space-between;
}

.icons i{
    font-size: 25px;
    color: #111;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icons i:hover{
    color: #f8010a;
    background-color: #fefefe;
    box-shadow: 0 0 20px #111(0, 0, 0,  0.2);
    cursor: pointer;
}

@media(max-width:991px) {
    

    .search{
        padding: 30px 30px 0 30px;
    }

    .movies{
        padding: 30px;
    }

    .icons{
        padding: 30px;
    }
}    